
.btn-add {
    background: #FF7514;
    color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn-add:hover {
    background: #e65c00;
  }
  
  .blue-btn{
    background-color: #0064C8;
  }
  .blue-btn:hover {
    background: #002857;
  }
  .button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
  }
  .header{
    @apply text-xl md:text-2xl text-corporateBlue py-6 font-semibold ;
  }
  
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1600px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    padding-top: 20px; /* Increased top padding */
    padding-bottom: 360px;
  }
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
  }