<div class="h-full flex justify-center">
  <div class="bg-white w-full md:w-[80%] lg:w-[60%] h-[650px] md:h-[690px] rounded-3xl border-2 border-accentLightBlue m-8 flex justify-center p-3">
    <!-- Email Input Step -->
    <app-email-input
      *ngIf="!isVerificationSent && !isCodeVerified"
      (sendEmailEvent)="handleSendEmail($event)"
      [errorMessage1]="errorMessage1"
      @fadeInOut
    ></app-email-input>

    <!-- Verification Code Step -->
    <app-verification-code
      *ngIf="isVerificationSent && !isCodeVerified"
      (verifyCodeEvent)="handleVerifyCode($event)"
      (resendEmailEvent)="handleResendEmail()"
      [errorMessage2]="errorMessage2"
      @fadeInOut
    ></app-verification-code>

    <!-- New Password Step -->
    <app-new-password
      *ngIf="isCodeVerified"
      (createNewPasswordEvent)="handleCreateNewPassword($event)"
      [errorMessage3]="errorMessage3"
      @fadeInOut
    ></app-new-password>
  </div>
</div>
