<div class="mt-8">
  <div class="w-full flex justify-center text-center">
    <img src="lock.png" alt="" class="w-20 h-20">
  </div>
  <p class="header-2-style">Create a New Password</p>

  <form [formGroup]="newPasswordForm" (ngSubmit)="createNewPassword()">
    <div class="w-full flex justify-center">
      <input formControlName="newPassword" type="password" class="login-input-style" placeholder="{{'NEW-PASS'|translate}}">
    </div>
    <div *ngIf="newPasswordForm.get('newPassword')?.hasError('invalidPassword')" class="text-red-500 text-lg text-center mt-2">
      Password must contain at least 8 characters, 1 uppercase, 1 lowercase, 1 number, and 1 special character.
    </div>

    <div class="w-full flex justify-center mt-4">
      <input formControlName="confirmPassword" type="password" class="login-input-style" placeholder="{{'NEW-PASS-CONF'|translate}}">
    </div>
    <div *ngIf="newPasswordForm.hasError('passwordsMismatch')" class="text-red-500 text-sm text-center mt-2">
      Passwords do not match.
    </div>

    <div class="w-full flex justify-center mt-4">
      <button type="submit"
        class="w-full border-2 bg-accentOrange rounded-2xl py-2 mx-2 text-white text-xl lg:text-2xl md:h-16 font-normal hover:bg-accentLightBlue">
        {{'NEW-PASS-CONF'|translate}}
      </button>
    </div>
    <br>
    <div *ngIf="errorMessage3" class="text-red-500 text-2xl">
      {{ errorMessage3 }}
    </div>
  </form>
</div>
